/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
    background-color: green;
}

/* selected link */
a:active {
    font-size: 110%;
]